/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/Tests export-ignore
/Documentation export-ignore
/Resources/Private/Vite/src export-ignore
/Resources/Private/Vite/test export-ignore
/Resources/Private/Vite/package-lock.json export-ignore
/Resources/Private/Vite/tsconfig.json export-ignore
/Resources/Private/Vite/tsconfig.client.json export-ignore
/Resources/Private/Vite/vitest.config.ts export-ignore
